<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="htmlPage template">
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-contents">
      <main class="l-main">
        <div class="htmlPage__inner">
          <h2 class="c-childPage__title">HTMLテンプレート</h2>
          <section id="list01" class="template__header">
            <h3 class="secTitle">ヘッダ</h3>
            <script src="https://gist.github.com/HiroyukiYokoi/44545d1c9eb14b8442ae0a293f37f69d.js"></script>
          </section>
          <section id="list02" class="template__footer">
            <h3 class="secTitle">フッタ</h3>
            <script src="https://gist.github.com/HiroyukiYokoi/12bf3e3a377bdbc4ff5c22160dc966dc.js"></script>
          </section>
          <section id="list03" class="template__prefectures">
            <h3 class="secTitle">都道府県一覧</h3>
            <script src="https://gist.github.com/HiroyukiYokoi/d361b544b6fd64e3cac9f2ed10040ce4.js"></script>
          </section>
        </div>
      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer START -->
  </div>
  @@include('javascript.html')
</body>

</html>
