<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="javascriptPage spMenu">
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-contents">
      <main class="l-main">
        <div class="javascriptPage__inner">
          <section id="list01" class="javascript__spMenu">
            <h3 class="secTitle">SPメニュー</h3>

            <h4 class="exampleTitle">全画面メニュー</h4>
            <div>jQueryではclassの付け外しのみ。CSSでtransitionの設定。</div>
            <div>HTML</div>
            <script src="https://gist.github.com/HiroyukiYokoi/5de9715f90b0745786985f93770fef6a.js"></script>
            <div>CSS</div>
            <script src="https://gist.github.com/HiroyukiYokoi/acab7bab277454d364ac1f8d8ebf0705.js"></script>
            <div>出力結果</div>
            <iframe class="exam01" src="/javascript/sp_menu/exam01.html" width="320" height="568">
              このページでは、インラインフレームを使用しています。
              対応しているブラウザで閲覧してください。
            </iframe>
          </section>
        </div>
      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer START -->
  </div>
  @@include('javascript.html')
</body>

</html>
