@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc01($point-pc01) {}
@include pc02($point-pc02) {}
*/

.l-header {
  @include sp($point-sp) {
    position: fixed;
    border-bottom: 1px solid #aaa;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
  }
}

.site_title {
  text-align: center;
  @include sp($point-sp) {
    font-size: 16px;
  }
  @include pc($point-pc) {
    font-size: 32px;
    margin: 0 auto 60px;
  }
}
