@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc01($point-pc01) {}
@include pc02($point-pc02) {}
*/

.site_title {
  text-align: center;
  font-size: 32px;
  @include sp($point-sp) {
    margin: 0 auto 30px;
  }
  @include pc($point-pc) {
    margin: 0 auto 60px;
  }
}
