<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="indexPage">
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-contents">
      <main class="l-main">
        <div class="index__inner">
          <section id="htmlcss" class="index__htmlcss">
            <h3 class="secTitle"><a href="/htmlcss"></a>HTML/CSS</h3>
            <ul class="index__list">
              <li class="index__listItem"><a href="/htmlcss/snippet01.html">HTMLテンプレート</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list01">ヘッダ</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list02">フッタ</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list03">都道府県一覧</a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet02.html">position: absolute;</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet02.html#list01">親要素から位置を取得する</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet02.html#list02">上下左右中央揃え</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet02.html#list03">上下左右中央揃え（transform使用）</a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet03.html">display: flex;</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet03.html#list01">画像とテキストが同一BOXに入っている場合</a></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="javascript" class="index__javascript">
            <h3 class="secTitle">JavaScript</h3>
            <ul class="index__list">
              <li class="index__listItem">SPメニュー
                <ul class="index__childList">
                  <li class="childList__item"><a href="/javascript/snippet01.html#list01">全画面メニュー</a></li>
                </ul>
              </li>
              <li class="index__listItem">プラグイン
                <ul class="index__childList">
                  <li class="childList__item"><a href="">Swiper</a></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="svg" class="index__svg">
            <h3 class="secTitle">SVG</h3>
            <ul class="index__list">
              <li class="index__listItem">SVGフィルタ
                <ul class="index__childList">
                  <li class="childList__item"><a href="">グレースケールを適用する</a></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="php" class="index__php">
            <h3 class="secTitle">PHP</h3>
            <ul class="index__list">
              <li class="index__listItem"><a href="">フォーム</a></li>
            </ul>
          </section>
        </div>
      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer START -->
  </div>
  @@include('javascript.html')
</body>

</html>
