<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="indexPage">
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-contents">
      <main class="l-main">
        <div class="index__inner">
          <section id="htmlcss" class="index__htmlcss">
            <h3 class="secTitle"><a href="/htmlcss"></a>HTML/CSS</h3>
            <ul class="index__list">
              <li class="index__listItem"><a href="/htmlcss/snippet01.html">HTMLテンプレート</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list01">ヘッダ<br>;;html_header</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list02">フッタ<br>;;html_footer</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list03">OGP（トップ）<br>;;html_ogp_top</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list04">OGP（下層）<br>;;html_ogp_lawer</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list05">Favicon<br>;;html_favicon</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list06">viewport<br>;;html_viewport</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list07">ダミー画像<br>;;html_dummy_simple<br>;;html_dummy_detail</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet01.html#list99">都道府県一覧<br>;;html_prefecture</a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet01.html">CSSテンプレート</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet06.html#list01">リスト・アイテム<br></a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet06.html#list02">::before、::after<br></a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet02.html">position: absolute;</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet02.html#list01">親要素から位置を取得する<br>;;html_absolute_pt01<br>;;scss_absolute_pt01</a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet03.html">display: flex;</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet03.html#list01">画像とテキストが同一BOXに入っている場合<br>（調査中）</a></li>
                </ul>
              </li>
              <li class="index__listItem"><a href="/htmlcss/snippet04.html">疑似要素</a>
                <ul class="index__childList">
                  <li class="childList__item"><a href="/htmlcss/snippet04.html#list01">矢印<br>（準備中）</a></li>
                  <li class="childList__item"><a href="/htmlcss/snippet04.html#list01">画像のborder<br>（準備中）</a></li>
                </ul>
              </li>
            </ul>
          </section>

          <!-- <section id="javascript" class="index__javascript">
            <h3 class="secTitle">JavaScript</h3>
            <ul class="index__list">
              <li class="index__listItem">JavaScriptテンプレート
                <ul class="index__childList">
                  <li class="childList__item"><a href="">IE, Edge判定<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">footer下部固定<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">フォームの初期選択肢の文字色を変える<br>（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">SPメニュー
                <ul class="index__childList">
                  <li class="childList__item"><a href="/javascript/snippet02.html#list01">全画面メニュー<br><span class="red">※要検討</span></a></li>
                  <li class="childList__item"><a href="/javascript/snippet02.html#list02">ブラウザ幅リサイズ時のSPメニューのちらつき防止<br><span class="red">※要検討</span></a></li>
                </ul>
              </li>
              <li class="index__listItem">プラグイン
                <ul class="index__childList">
                  <li class="childList__item"><a href="">Swiper<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">EndlessRiver<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">スクロールバーのデザイン変更<br>（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">Ajax
                <ul class="index__childList">
                  <li class="childList__item"><a href="">（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">自作JavaScript
                <ul class="index__childList">
                  <li class="childList__item"><a href="">スライダー<br>（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">今後解決したい課題
                <ul class="index__childList">
                  <li class="childList__item"><a href="">ローディング画面を表示する<br>（勉強中）</a></li>
                  <li class="childList__item"><a href="">メディアクエリ<br>（準備中）</a></li>
                </ul>
              </li>
            </ul>
          </section> -->

          <section id="svg" class="index__svg">
            <h3 class="secTitle">SVG</h3>
            <ul class="index__list">
              <li class="index__listItem">SVGフィルタ
                <ul class="index__childList">
                  <li class="childList__item"><a href="">グレースケールを適用する<br>（準備中）</a></li>
                </ul>
              </li>
            </ul>
          </section>

          <section id="php" class="index__php">
            <h3 class="secTitle">PHP</h3>
            <ul class="index__list">
              <li class="index__listItem">フォーム
                <ul class="index__childList">
                  <li class="childList__item"><a href="/php/snippet01.html#list01">一式<br>（準備中）</a></li>
                  <li class="childList__item"><a href="/php/snippet01.html#list02">バリデーション<br>（準備中）</a></li>
                </ul>
              </li>
              <!-- <li class="index__listItem">WordPress
                <ul class="index__childList">
                  <li class="childList__item"><a href="/php/snippet01.html#list01">（準備中）</a></li>
                </ul>
              </li> -->
            </ul>
          </section>

          <!-- <h2 class="c-childPage__title">番外編</h2>
          <section id="git" class="index__git">
            <h3 class="secTitle">コマンド</h3>
            <ul class="index__list">
              <li class="index__listItem">Git
                <ul class="index__childList">
                  <li class="childList__item"><a href="">現在存在するリモートブランチの一覧を表示する<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">特定の文字列を含んだマージ済みのリモートブランチを一括削除する<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">無効なリモートブランチを自動で判別して掃除する<br>（準備中）</a></li>
                  <li class="childList__item"><a href="">ターミナルからGitを管理する<br>（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">便利コマンド
                <ul class="index__childList">
                  <li class="childList__item"><a href="">ターミナルからアプリをダウンロードする<br>（準備中）</a></li>
                </ul>
              </li>
            </ul>
          </section> -->

          <!-- <section id="ruby" class="index__ruby">
            <h3 class="secTitle">Ruby &amp; Ruby on Rails</h3>
            <ul class="index__list">
              <li class="index__listItem">環境構築
                <ul class="index__childList">
                  <li class="childList__item"><a href="">（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">Rubyテンプレート
                <ul class="index__childList">
                  <li class="childList__item"><a href="">正規表現<br>（準備中）</a></li>
                </ul>
              </li>
              <li class="index__listItem">Twitterもどき
                <ul class="index__childList">
                  <li class="childList__item"><a href="">（準備中）</a></li>
                </ul>
              </li>
            </ul>
          </section> -->

        </div>
      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer START -->
  </div>
  @@include('javascript.html')
</body>

</html>
