<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="indexPage">
  <div class="l-container">

    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->

    <!-- l-gnav START -->
    @@include('l-gnav.html')
    <!-- l-gnav END -->

    <div class="l-contents">
      <main class="l-main">
        <div class="index__inner">
          <ul class="index__list">
            <li class="index__listItem cssAnimation">
              <a href="/css_animation/">
                <h3 class="listItem__title">CSS animation</h3>
                <div class="listItem__image">
                  <img src="/img/index/CSS3_Logo.svg" width="150" height="150" alt="CSS3_Logo">
                </div>
              </a>
            </li>
            <li class="index__listItem googleAPI">
              <a href="/google_api/">
                <h3 class="listItem__title">Google API</h3>
                <div class="listItem__image">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" width="200" height="150" alt="Google_2015_logo">
                </div>
              </a>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <!-- l-footer START -->
    @@include('l-footer.html')
    <!-- l-footer START -->
  </div>
  @@include('javascript.html')
</body>

</html>
