<!--include START-->
<nav class="l-gNav">
  <ul class="l-gNav__list">
    <li class="l-gNav__listItem">
      <a href="/">
        <span class="l-gNav__listItemEn">TOP</span>
      </a>
    </li>
    <li class="l-gNav__listItem">
      <a href="/#htmlcss">
        <span class="l-gNav__listItemEn">HTML/CSS</span>
      </a>
    </li>
    <!-- <li class="l-gNav__listItem">
      <a href="/#javascript">
        <span class="l-gNav__listItemEn">JavaScript</span>
      </a>
    </li> -->
    <li class="l-gNav__listItem">
      <a href="/#svg">
        <span class="l-gNav__listItemEn">SVG</span>
      </a>
    </li>
    <li class="l-gNav__listItem">
      <a href="/#php">
        <span class="l-gNav__listItemEn">PHP</span>
      </a>
    </li>
  </ul>
</nav>
<!--include END-->
