@charset "utf-8";
body {
  color: #606060;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.6;
}

html>body {
  // min-width: 980px;
  color: #111;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-touch-callout: none;
  color: #111;
}

a:hover {
  text-decoration: none;
}

a:focus,
*:focus {
  outline: none;
}

a.line {
  position: relative;
  display: inline-block;
  transition: .3s;
}

a.line::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #2ecc71;
  content: '';
  opacity: 0;
  transition: .3s;
}

a.line:hover::after {
  bottom: 0;
  opacity: 1;
}

img {
  vertical-align: top;
  border: none;
  border-style: none;
}

body {
  margin: 0;
}

a {
  @include ov;
}

br.SPbr {
  display: none;
  @include sp($point-sp) {
    display: inline;
  }
}

br.PCbr {
  display: inline;
  @include sp($point-sp) {
    display: none;
  }
}

.SPview {
  display: none;
  @include sp($point-sp) {
    display: block;
  }
}

.PCview {
  display: block;
  @include sp($point-sp) {
    display: none;
  }
}

.js-fadein {
  visibility: hidden;
}

//フッター下固定
html,
body {
  height: 100%;
}

.l-container {
  width: 100%;
  position: relative;
  height: 100%;
  min-height: 100%;
  @include sp($point-sp) {
    padding: 30px 0 0;
  }
  @include pc($point-pc) {
    padding: 60px 0 0;
  }
}

#contents {
  padding-bottom: 40px;
  /*フッターの高さと同じ*/
}
