@charset "utf-8";

@import "mixin";

/* ==========================================================================
   Foundation
   ========================================================================== */

@import "foundation";
@import "utility";
@import "sprite";


/* ==========================================================================
   Layout
   ========================================================================== */

@import "object/_l-footer";
@import "object/_l-gnav";
@import "object/_l-header";
@import "object/_l-subPage";

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

@import "object/_c-btn";
@import "object/_c-text";

/* Project
   ----------------------------------------------------------------- */

@import "object/_p-index";
@import "object/_p-css_animation";
// @import "object/_p-html_page";
// @import "object/_p-javascript_page";
// @import "object/_p-php_page";
