<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SPメニュー</title>
  @@include('head.html')
</head>

<body class="javascriptPage spMenu iframe notGood">
  <div class="l-container">
    <!--include START-->
    <header class="l-header">
      <div class="l-header__logo">
        <h1 class="l-header__logoImg">
          <a href="">
            <div><img src="http://placehold.it/150x150/b7ab86/666&amp;text=logo" alt="ダミー画像出力例詳細付き"></div>
          </a>
        </h1>
      </div>
      <div class="l-gNav__sp">
        <div class="l-gNav__btn"><a href="#"><span>OPEN</span></a></div>
      </div>
      <nav class="l-gNav is-close">
        <div class="l-gNav__close"><a href="#"><span>CLOSE</span></a></div>
        <ul class="l-gNav__list">
          <li class="l-gNav__listItem">
            <a href="">
              <span class="l-gNav__listItemEn">TOP</span>
              <span class="l-gNav__listItemJp">トップ</span>
            </a>
          </li>
          <li class="l-gNav__listItem">
            <a href="">
              <span class="l-gNav__listItemEn">NEWS</span>
              <span class="l-gNav__listItemJp">ニュース</span>
            </a>
          </li>
          <li class="l-gNav__listItem">
            <a href="">
              <span class="l-gNav__listItemEn">OUR MISSION</span>
              <span class="l-gNav__listItemJp">私たちの仕事</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--include END-->

  </div>
  <!-- l-footer START -->
  @@include('l-footer.html')
  <!-- l-footer START -->
@@include('javascript.html')
</body>

</html>
