<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body class="phpPage form">
  <div class="l-container">
    @@include('l-header.html')
    <div class="l-contents">
      <main class="l-main">
        <section class="Contact complete">
          <div class="Contact__complete">
            お問い合わせいただき、ありがとうございました。<br>
            追って担当者からご連絡申しあげますので、少々お待ちくださいませ。
          </div>

          <div class="ContactComplete__backLink c-backLink">
            <a href="/">トップページへ戻る</a>
          </div>
        </section>
      </main>
    </div>
    @@include('l-footer.html')
  </div>
  @@include('javascript.html')
</body>
</html>
